@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap');
/* font-family: "Noto Sans KR", sans-serif; */
/* font-family: "Noto Serif KR", serif; */
