@charset "utf-8";
@import url('reset.css');
@import url('common.css');


/* 메인 비주얼 ############# */
.main_visual {
    width: 100%;
    height: calc(100vh - 40px);
}

.main_visual .swiper {
    width: 100%;
    height: 100%;
}

.main_visual .swiper-slide {
    width: 100%;
    height: 100%;
}

.main_visual .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 메인섹션 너비 ############# */
.main_section .inner {
    width: 88.54%;
    margin: 0 auto;
}

/* 섹션1 ############# */
#section1 {
    height: 150vh;
    margin-top: 250px;
    position: relative;
}

#section1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#section1 .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section1 .inner .main_content {
    width: 42.35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 19px;
}

#section1 .inner .main_content .main_text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

#section1 .inner .main_content .main_text .main_btn {
    display: flex;
    gap: 15px;
}

#section1 .inner .main_content .main_text .main_btn button {
    width: 200px;
    height: 65px;
    border: 1px solid #382107;
    border-radius: 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

#section1 .inner .main_content .main_text .main_btn button:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

#section1 .inner .main_content .main_text .main_btn button img {
    width: 24px;
    display: block;
}

#section1 .inner .main_content .main_text .main_btn button p {
    font-size: clamp(18px, 1.15vw, 22px);
    font-weight: 500;
    line-height: 100%;
}

/* 모바일 숨김 */
#section1 .inner .review_list.mobile {
    display: none;
}

#section1 .inner .review_list {
    width: 50.82%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#section1 .inner .review_list .review {
    width: 100%;
    position: relative;
    font-family: var(--font-sub);
    color: var(--color-black);
}

#section1 .inner .review_list .review p {
    font-weight: 400;
}

#section1 .inner .review_list .review img {
    width: 100%;
    display: block;
}

#section1 .inner .review_list .review:nth-child(even) img {
    transform: scaleX(-1);
}

#section1 .inner .review_list .review p {
    position: absolute;
    top: calc(100% / 3 - 1.4vw);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    font-size: 1.4vw;
}

/* 섹션2 ############# */
#section2 {
    position: relative;
    height: 600vh;
    /* 이미지 6장 */
    display: flex;
    justify-content: space-between;
}

#section2 .title {
    position: sticky;
    top: 100px;
    left: 0;
    z-index: 10;
}

#section2 .title h3 {
    font-size: 45px;
    font-weight: 900;
    line-height: 100px;
    margin-left: 20px;
}

#section2 .title h3::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--color-text);
    position: absolute;
    top: 0;
    left: 0;
}

#section2 .container {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
}

#section2 .image_wrap .img {
    width: 49.27%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.6s ease;
}

#section2 .image_wrap .img.on {
    opacity: 1;
}

#section2 .image_wrap .img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* 오른쪽 텍스트 */
#section2 .list {
    width: 49.27%;
    height: 100vh;
    position: relative;
}

#section2 .list .point {
    width: 100%;
    position: absolute;
    top: 30%;
    transform: translateY(50%);
    opacity: 0;
    transition: opacity 0.6s ease;
}

#section2 .list .point.on {
    opacity: 1;
}

#section2 .list .point .bg_deco {
    width: 90%;
    position: absolute;
    right: 0;
    opacity: 0.2;
}

#section2 .list .point img {
    width: 100%;
    display: block;
}

#section2 .list .point .text_wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    position: absolute;
    top: 50%;
    /* 수정 */
    right: 0;
}

#section2 .list .point .text_wrap strong {
    width: 190px;
    height: 64px;
    border-radius: 50px;
    background-color: var(--color-point);
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    line-height: 64px;
}

#section2 .list .point .text_wrap .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 섹션3 ############# */
#section3 {
    position: relative;
    height: 200vh;
    /* 스크롤구간 */
    color: var(--color-white);
}

#section3 .bg_img {
    background: url('../img/background_img.jpg') center / cover no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#section3 .video_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
}

#section3 .text_wrap {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 250px 0 100px;
    z-index: 10;
}

#section3 .text_wrap p {
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
}

#section3 .video_wrap .video_container {
    width: 50%;
    height: 80%;
    z-index: 10;
    margin-top: 40px;
}

#section3 .video_wrap .video_container iframe {
    width: 100%;
    height: 180%;
    object-fit: cover;
}

/* 섹션4 ############# */
#section4 {
    padding: 100px 0;
}

#section4 .inner {
    display: flex;
    justify-content: space-between;
}

#section4 .text_wrap {
    width: 50%;
    position: relative;
}

#section4 .text_wrap img {
    width: 110%;
    max-width: 730px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#section4 .text_wrap .title_wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

#section4 .text_wrap .title_wrap .title {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 40px;
}

#section4 .text_wrap .title_wrap .title span {
    white-space: nowrap;
    font-size: 20px;
    font-weight: 700;
    color: var(--color-point-text);
    display: block;
}

#section4 .img_wrap {
    width: 50%;
}

#section4 .img_wrap img {
    width: 100%;
}

/* 섹션5 ############# */
#section5 {
    width: 100%;
    height: 2300px;
    background: url('../img/section5_bg.png') center / cover no-repeat;
    padding: 100px 0;
    margin: 100px 0;
}

#section5 .inner {
    position: sticky;
    top: 80px;
    left: 0;
    contain: paint;
}

#section5 .title_wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 110px;
}

#section5 .scrollX {
    width: 300vw;
    margin-top: 60px;
    padding: 0 30vw;
}

#section5 .scrollX .img-wrap {
    display: flex;
    gap: 28px;
}

#section5 .scrollX .img-wrap .img {
    width: 692px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

#section5 .scrollX .img-wrap .img .img-label {
    width: 100%;
    height: 33%;
    background-color: rgba(243, 243, 243, 0.8);
    border: 1px solid;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 13px;
    font-family: var(--font-sub);
    position: absolute;
    top: 0;
    left: 0;
}

#section5 .scrollX .img-wrap .img .img-label strong {
    font-size: 24px;
}

#section5 .scrollX .img-wrap .img .img-label p {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}

#section5 .scrollX .img-wrap .img img {
    width: 100%;
}

/* 섹션6 ############# */
#section6 {
    width: 100%;
    padding: 100px 0 50px;
    background-color: rgba(248, 230, 201, 0.4);
    margin: 100px 0;
    display: flex;
    align-items: center;
}

#section6 .inner {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

#section6 .location {
    width: 42%;
}

#section6 .location p {
    font-size: 24px;
    line-height: 100%;
    font-weight: 700;
    margin-bottom: 10px;
}

#section6 .ask {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#section6 .ask .card {
    width: 100%;
    position: relative;
}

#section6 .ask .card .text-1 {
    width: 104px;
    position: absolute;
    top: 67px;
    left: 30px;
}

#section6 .ask .card .text-2 {
    width: 129px;
    position: absolute;
    bottom: 51px;
    right: 20px;
}

#section6 .ask .card>img {
    width: 100%;
    display: block;
}

#section6 .card .card_album {
    width: 312px;
    height: 426px;
}

#section6 .card .card_album .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

#section6 .card .card_album .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section6 .ask .btn_wrap {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    width: 100%;
    margin-top: 28px;
}

#section6 .ask .btn_wrap .ask_btn {
    flex: 1;
    padding: 30px;
    background-color: var(--color-text);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s ease;
}

#section6 .ask .btn_wrap .ask_btn.call:hover {
    background-color: var(--color-point);
    border: 1px solid;
}

#section6 .ask .btn_wrap .ask_btn.kakao:hover {
    background-color: #EBC83A;
    border: 1px solid;
}

#section6 .ask .btn_wrap .ask_btn .way {
    display: flex;
    justify-content: space-between;
}

#section6 .ask .btn_wrap .ask_btn .way .method {
    color: #79CECA;
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.3s ease;
}

#section6 .ask .btn_wrap .ask_btn.call:hover .way .method,
#section6 .ask .btn_wrap .ask_btn.kakao:hover .way .method,
#section6 .ask .btn_wrap .ask_btn:hover p {
    color: var(--color-text);
}

#section6 .ask .btn_wrap .ask_btn .way .method h4 {
    font-size: 26px;
    font-weight: 700;
}

#section6 .ask .btn_wrap .ask_btn .way .method strong {
    font-size: 18px;
    font-weight: 700;
}

#section6 .ask .btn_wrap .ask_btn .way img {
    width: 67px;
    display: block;
}

#section6 .ask .btn_wrap .ask_btn p {
    font-size: 16px;
    color: var(--color-white);
    line-height: 150%;
    transition: all 0.3s ease;
}

/* 섹션6 지도 반응형 고정 */
#section6 .root_daum_roughmap {
  width: 100% !important;
  aspect-ratio: 13 / 12;
}

#section6 .root_daum_roughmap .wrap_map {
  width: 100% !important;
  height: 100% !important;
}