/* 1500 이하에서 섹션6 세로정렬 */
@media screen and (max-width: 1500px) {
    #section5 {
        height: 3000px;
        padding: 0 0 100px;
    }

    #section6 .inner {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    #section6 .location {
        width: 70%;
    }

    #section6 .ask {
        width: 70%;
    }

    #section6 .root_daum_roughmap {
        aspect-ratio: 5 / 3
    }
}

/* 1280px 이하에서는 직접 슬라이드하기 */
@media (max-width: 1280px) {
    #section5 {
        height: auto;
        padding: 100px 0;
    }

    #section5 .inner {
        width: 88.54%;
        margin: 0 auto;
    }

    #section5 .title_wrap {
        margin-left: auto;
    }

    .scrollX.pc {
        display: none;
    }

    .scrollX.tablet {
        display: block;
        margin-top: 60px;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }

    .scrollX.tablet .img-wrap {
        display: flex !important;
        flex-wrap: nowrap !important;
        /* 줄바꿈 금지 */
        gap: 20px;
        width: max-content;
        /* 내부 콘텐츠만큼 가로폭 늘어나도록 */
    }

    .scrollX.tablet .img {
        flex: 0 0 auto;
        /* 고정 크기 유지 */
        width: 500px;
        /* 원하는 카드 너비로 설정 */
    }
}

/* 태블릿 사이즈 */
@media screen and (max-width: 1025px) {
    #section1 {
        height: auto;
        padding: 100px 0 300px;
    }

    #section1 .inner {
        flex-direction: column-reverse;
        gap: 80px;
        position: static;
        transform: none;
    }

    #section1 .inner .main_content {
        width: 100%;
    }

    #section1 .inner .main_content h2 {
        width: 70%;
    }

    #section1 .inner .review_list {
        width: 90%;
    }

    #section2 {
        display: none;
    }

    #section2_mobile {
        display: block;
        padding-bottom: 100px;
    }

    #section2_mobile .title {
        margin-bottom: 120px;
    }

    #section2_mobile .list {
        display: flex;
        flex-direction: column;
        gap: 180px;
    }

    #section2_mobile .point_block .point_title {
        position: relative;
        text-align: center;
        margin-bottom: 90px;
    }

    .main_section2 .text_wrap {
        position: static;
    }

    .main_section2 .bg_deco {
        width: 80%;
    }

    #section2_mobile .point_block .image_wrap {
        display: flex;
        flex-wrap: wrap;
    }

    #section2_mobile .point_block .image {
        width: 50%;
        position: relative;
        padding-bottom: 50%;
    }

    #section2_mobile .point_block .image img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    #section3 .video_wrap {
        min-height: auto;
    }
    #section3 .video_wrap .video_container {
        width: 80% !important;
        max-width: none;
    }
}