/* 1500 이하에서 섹션6 세로정렬 */
@media screen and (max-width: 1500px) {
    #section5 {
        height: 3000px;
        padding: 0 0 100px;
    }
    #section6 .inner {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    #section6 .location {
        width: 70%;
    }

    #section6 .ask {
        width: 70%;
    }

    #section6 .root_daum_roughmap {
        aspect-ratio: 5 / 3
    }
}

@media screen and (max-width: 1024px) {
    #section1 {
        height: auto;
        padding: 80px 0;
        background: url('../img/section1_bg.png') center/cover no-repeat;
        position: relative;
    }

    #section1>img {
        display: none;
    }

    #section1 .inner {
        flex-direction: column-reverse;
        gap: 100px;
        position: static;
        transform: none;
    }

    #section1 .inner .main_content {
        width: 60%;
    }

    #section1 .inner .review_list {
        width: 60%;
    }

    #section1 .inner .review_list .review:nth-child(even) {
        padding-left: 80px;
    }

    #section1 .inner .review_list .review:nth-child(even) p {
        padding-left: 80px;
    }

    #section1 .inner .review_list .review:nth-child(odd) {
        padding-right: 80px;
    }

    #section1 .inner .review_list .review:nth-child(odd) p {
        padding-right: 80px;
    }
}